<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light">
        <!-- <i class="fa-solid fa-bars"></i> -->
        <i class="fa fa-bars"></i>
        <!-- <i style="font-size:24px" class="fa">&#xf0c9;</i> -->
        <!-- <i class="fa-solid fa-bars"></i> -->
    </div>
    <a href="#" class="navbar-brand px-4">Header and Sidenav</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Menu</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item">child 1</a></li>
                    <li><a href="#" class="dropdown-item">child 2</a></li>
                    <li><a href="#" class="dropdown-item">child 3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Menu2</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item">child 1</a></li>
                    <li><a href="#" class="dropdown-item">child 2</a></li>
                    <li><a href="#" class="dropdown-item">child 3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Menu3</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item">child 1</a></li>
                    <li><a href="#" class="dropdown-item">child 2</a></li>
                    <li><a href="#" class="dropdown-item">child 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <form action="" class="d-flex me-5">
        <input type="text" class="form-control me-2" type="search" placeholder="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <div class="profile-logo dropdown">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">Ronam</button>

        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item">SignUp</a></li>
            <li><a href="#" class="dropdown-item">Log In</a></li>
            <li><a href="#" class="dropdown-item">Your Profile</a></li>
            <li><a href="#" class="dropdown-item">Log out</a></li>
        </ul>
    </div>
</nav>